{% extends "base.html" %}
{% block layout %}
<body>
    <header>
      <style>
        .navbar{
          margin-left: 20px;
        }
      </style>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">&#9;Kurs Python dla bezpieczników - server XSS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link active" href="{{url_for('core.level1')}}">Hello<span class="sr-only"></span></a>
                </li>
                
              </ul>
            </div>
          </nav>
    </header>
    <article>
        {% block body %}{% endblock %}
    </article>
    <footer></footer>
</body>
{% endblock %}